.container {
    background: gray;
    height: 100vh;
    margin: 0 auto;
    background-image: url(backround.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 50%;
}

.PP {
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
    

.PP > img {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 100%;
}

.PP > p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color :rgb(255, 255, 255);
    text-transform: capitalize;
    text-align: center;
}

.Button {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.Button > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    border: solid black;
    border-radius: 7px;
    background-color: rgb(0, 85, 255);
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.Button > a:hover{
    background-color: blue;
}

.footer > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    border: solid black;
    border-radius: 7px;
    background-color: red;
    margin: 5px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}